@import url('./reset.css');

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-card {
    border: 2px solid grey;
    border-radius: 8px;
    width: 20vw;
    padding: 20px;
}

.widget-card * {

}

.btn {

}

.weather {
    display: none;
}

.weather-display {
    display: block;
}